@font-face {
	font-family: "Caveat";
	src: url("fonts/Caveat-Bold.ttf");
	font-weight: bold;
}

* {
	font-family: "Caveat";
	user-select: none;
}

.margin {
	margin-bottom: 30px;
}

header {
    padding: 50px;
    color: #ffffff;
	letter-spacing: 4px;
	-webkit-text-stroke: 0.5px #ffffff; 
	background: url(../img/header-min.png);
	background-size: cover;
	background-position: top;
    background-repeat: no-repeat;
}
 
footer {
	padding: 20px;
	text-align: center;
	text-shadow: 3px 2px #ffffff;
	background: url(../img/footer-min.jpg);
	background-size: cover;
	background-position: bottom;
    background-repeat: no-repeat;
}
	
.contact {
	font-size: 1.2em;
	color: #2b61ad;
}

.order {
	font-size: 1.2em;
	color: #2b61ad;
}

.contactDetails {
	font-size: 1.2em;
	color: #9b6906;
}

.orderDetails {
	font-size: 1.2em;
	color: #ffffff;
}

li:nth-of-type(n + 4) {
	background-color: #f7a71d;
}